{% extends "base.html" %}

{% block title %}Kontakt{% endblock %}

{% block content %}
  <section class="container mx-auto px-4 py-16 md:py-24">
    <div class="flex flex-col md:flex-row items-center">
      <div class="w-full md:w-1/2 mb-8 md:mb-0 pr-0 md:pr-10">
        <h1 class="text-4xl md:text-6xl font-bold mb-4 leading-tight tracking-tight pl-6 pt-6">Skontaktuj się z nami</h1>
        <p class="text-gray-600 mb-8 text-lg max-w-md">
          Masz pytania? Jesteśmy do Twojej dyspozycji! Skontaktuj się z nami telefonicznie lub mailowo.
        </p>

        <div class="mb-8">
          <h2 class="text-2xl font-bold mb-4">Dane kontaktowe</h2>
          <p class="text-gray-600 mb-4"><strong>Telefon:</strong> 420-696-969-696</p>
          <p class="text-gray-600 mb-4"><strong>Email:</strong> kontakt@firma.pl</p>
          <p class="text-gray-600 mb-4"><strong>Adres:</strong> Spacerowa 49, 00-000 Miasto</p>
        </div>
      </div>
      
      <div class="w-full md:w-1/2">
        <form action="#" method="POST" class="bg-white p-8 shadow-lg rounded-lg">
          <h2 class="text-2xl font-bold mb-4">Formularz kontaktowy</h2>
          <div class="mb-4">
            <label for="name" class="block text-gray-700 text-sm font-bold mb-2">Imię i nazwisko</label>
            <input type="text" id="name" name="name" class="w-full px-4 py-2 border border-gray-300 rounded-md focus:outline-none focus:ring-2 focus:ring-black" required>
          </div>

          <div class="mb-4">
            <label for="email" class="block text-gray-700 text-sm font-bold mb-2">Adres e-mail</label>
            <input type="email" id="email" name="email" class="w-full px-4 py-2 border border-gray-300 rounded-md focus:outline-none focus:ring-2 focus:ring-black" required>
          </div>

          <div class="mb-4">
            <label for="message" class="block text-gray-700 text-sm font-bold mb-2">Wiadomość</label>
            <textarea id="message" name="message" rows="6" class="w-full px-4 py-2 border border-gray-300 rounded-md focus:outline-none focus:ring-2 focus:ring-black" required></textarea>
          </div>

          <button type="submit" class="w-full bg-black text-white py-3 font-medium rounded-md hover:bg-gray-700 focus:outline-none">
            Wyślij wiadomość
          </button>
        </form>
      </div>
    </div>
  </section>
{% endblock %}
